

@model WebClient2.Data.User
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Home", FormMethod.Post))  
{  
<fieldset>  
<legend>Planet DDS User Login</legend>  
  
@Html.AntiForgeryToken()  
@Html.ValidationSummary(true)  

<table>  
    <tr>
        <td>
            @if (@ViewBag.ShowErr == true)  
            {  
                <div style="border: 1px solid red">  
                @ViewBag.ErrorMessage  
                </div>  
            }  
        </td>
    </tr>
    <tr>  
        <td>@Html.LabelFor(a => a.Username)</td>  
        <td>@Html.TextBoxFor(a => a.Username)</td>  
        <td>@Html.ValidationMessageFor(a => a.Username)</td>  
    </tr>  
    <tr>  
        <td>  
            @Html.LabelFor(a => a.Password)  
        </td>  
        <td>  
            @Html.PasswordFor(a => a.Password)  
        </td>  
        <td>  
            @Html.ValidationMessageFor(a => a.Password)  
        </td>  
    </tr>  
    <tr>  
        <td></td>  
        <td>  
            <input type="submit" value="Login" />  
        </td>  
        <td></td>  
    </tr>  
</table>  
</fieldset>  
}  